.rating-up {
    color: rgb(230, 215, 9);
    
}
.scroll-state{
    max-height: 3094px !important;
    overflow-y: scroll !important;
}
.scroll-state::-webkit-scrollbar{
    display: none !important;
}

/* Page content */
.content-detail {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    z-index: 9999 !important;
    width: 100%;
    margin-left: -50px;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content-detail {
    padding-top: 60px !important;
  }

  #navbar {
      padding:0 !important;
  }