<div class="container-fluid product-detail">
    <div class="row mt-5">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Sports and hobbies</a></li>
                    <li class="breadcrumb-item"><a href="#">Sporting goods</a></li>
                    <li class="breadcrumb-item"><a href="#">Winter sports</a></li>
                    <li class="breadcrumb-item"><a href="#">Ice drifts</a></li>
                    <li class="breadcrumb-item active"><a class="active" href="#">Supretto ice drifts</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Supretto Ice Grip L (5652-0001)</h2>
        </div>
        <div class="col-sm-12">
            <i class="fa fa-star fa-lg rating-up"></i><i class="fa fa-star fa-lg rating-up"></i><i
                class="fa fa-star fa-lg rating-up"></i><i class="fa fa-star fa-lg"></i><i
                class="fa fa-star fa-lg"></i><i class="mx-2">3 reviews</i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top" id="navbar">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link" [routerLink]="['all']" routerLinkActive>All about the prodcut <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" [routerLink]="['spec']" routerLinkActive>Specifications</a>
                        </li>

                        <li class="nav-item mx-2">
                            <a class="nav-link" [routerLink]="['reviews']" routerLinkActive>Reviews <span
                                    class="badge badge-success">3</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" [routerLink]="['questions']" routerLinkActive>Questions <span
                                    class="badge badge-success">2</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" [routerLink]="['photos']" routerLinkActive>Photos</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
    <div class="content-detail">
        <router-outlet></router-outlet>
    </div>
</div>