.rating-up {
    color: rgb(230, 215, 9);
    
}
.detail_show{
    width: 100%;
    height: auto;
    background-size: cover;
}
.detail_show img{
    object-fit: cover;
}

.description {
    font-size: 24px !important;
    color: rgba(0, 0, 0, 0.493);
}

.btn-floating {
    margin-left: 50%;
}

