

<div class="row images">
    <div class="col-md-1 sub_image_list">
        <div class="row my-5 ml-4">
            <img src="../../../../assets/img/supretto_5652_0001_images_15540564831.jpg" class="thumbnail img-fluid sub_image" width="45%">
        </div>
        <div class="row my-5 ml-4">
            <img src="../../../../assets/img/supretto_5652_0001_images_15540565475.jpg" class="thumbnail img-responsive sub_image" width="45%">
        </div>
        <div class="row my-5 ml-4">
            <img src="../../../../assets/img/supretto_5652_0001_images_15540565874.jpg" class="thumbnail img-responsive sub_image" width="45%">
        </div>
        <div class="row my-5 ml-4">
            <img src="../../../../assets/img/supretto_5652_0001_images_15540566252.jpg" class="thumbnail img-responsive sub_image" width="45%">
        </div>
    </div>
    <div class="col-md-5 detail_show mt-5">
        <img src="../../../../assets/img/detail/supretto_5652_0001_images_15540564621.jpg" width="100%
        " class="img-fluid image_stage">
        <div class="mt-5">
            <p>The size: L (39, 43)</p>
            <p>Color: The black</p>
        </div>
    </div>
    
    <div class="col-md-6">
        <p><i class="fa fa-clock-o fa-lg"></i>&nbsp;&nbsp;Ends</p>
        <div class="row my-4 mx-1">
            <div class="card" style="width: 100%;">
                <div class="card-header my-0 py-1">
                    <h3> 249 ₴
                        <button type="button" class="btn btn-success mx-2"><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;Buy</button>
                        <button type="button" class="btn btn-default mx-2"><i class=" fa fa-balance-scale fa-lg"></i></button>
                        <button type="button" class="btn btn-default mx-2"><i class="fa fa-heart-o fa-lg"></i></button>
                    </h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <i class="fa fa-truck"></i> +2 bonus ₴ when buying this product <a href="#">for Premium owners</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-1">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div class="card-text form-inline justify-content-between">
                        <div>Seller: <span class="font-weight-bold"> ... ...</span></div>
                        <div><img src="../../../../assets/img/logo/logo.png" style="width:90%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-1">
            <div class="card" style="width: 100%;">
                <div class="card-header my-0 py-1">
                    <h4 class="card-title">Delivery to: <a href="#">Kotyuzhins</a></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <p class="card-text">Pickup <a href="#">from UKRPOSHTA</a></p>
                            <p class="card-text">Courier New mail</p>
                            <p class="card-text">Courier Meest</p>
                        </div>

                        <div class="col-4">
                            <p class="card-text">We will ship today.</p>
                            <p class="card-text">We will ship today.</p>
                            <p class="card-text">We will ship today.</p>
                        </div>

                        <div class="col-4">
                            <p class="card-text">20 ₴</p>
                            <p class="card-text">40 ₴</p>
                            <p class="card-text">60 ₴</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-1">
            <div class="card" style="width: 100%;">
                <div class="card-header my-0 py-1">
                    <h4 class="card-title">Payment</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Cash, Online card, Promotional payment by Visa card, Google Pay, Payment via Masterpass, Non-cash for legal entities, Non-cash for individuals, PrivatPay, Apple Pay</p>
                </div>
            </div>
        </div>

        <div class="row my-4 mx-1">
            <div class="card" style="width: 100%;">
                <div class="card-header my-0 py-1">
                    <h4 class="card-title">Warranty</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">14 days</p>
                    <p class="card-text">Exchange / return of goods within 14 days</p>
                </div>
            </div>
        </div>
    </div>
</div>


<h2 class="mt-5">You may also be interested in.</h2>
    
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p>
                            <p>90₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
        <!--/.Slides-->

</div>
    <!--/.Carousel Wrapper-->


<h2 class="mt-5">Similar products</h2>

<div id="similar-product" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <a class="carousel-control-prev" href="#similar-product" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#similar-product" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p>
                            <p>90₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mx-0 px-0">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                            <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->

    </div>
        <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

<div class="row mt-5">
    <div class="col-md-6">
        <div class="des">
            <h2>Description<span class="description"> Ice Shoe Supretto Ice Grip L (5652-0001)</span></h2>
            <p>Frostwalker Ice grip (Grip Ice) will not allow you to slip during icy conditions. Now you don't have to worry about getting hurt somewhere on the street.</p>
            <p>Ice shoes are conveniently fixed on the soles of your shoes. Designed from premium and durable polymers that can withstand temperatures down to -40 degrees. The ladders have steel spikes on the outside. They provide maximum grip on slippery surfaces and exclude the possibility of falling and getting damaged.

            </p>
            <p>The steel used for making the studs is hardened and carbide. Thanks to these properties, the thorns retain their sharpness and do not deteriorate. The spikes are securely fastened and do not fall off.

            </p>
            <p>The size of the ice shoes is very compact - you can carry them with you to always be prepared, no matter how often the weather conditions change.

            </p>
            <p>Frostwalker Ice grip (Grip Ais) suitable for any shoes size.

            </p>
        
        </div>
        <div class="fea">
            <h2>Features</h2>
            <div class="form-inline justify-content-between">
                <div style="width: 50%;">
                    <p>The size</p>
                    <p>Colour</p>
                    <p>Number of items, pcs</p>
                    <p>Country of region</p>
                    <p>Brand registration country</p>
                    <p>Warranty</p>
                    
                </div>
                <div style="width: 50%;">
                    <p>L(39-43)</p>
                    <p>The black</p>
                    <p>2</p>
                    <p>China</p>
                    <p>Ukraine</p>
                    <p>14 days</p>
                </div>
            </div>
            <p><a href="#">See all Specifications...</a></p>
        </div>    
    </div>

    <div class="col-md-6">
        <div class="form-inline justify-content-between">
            <div><h2>Customer Reviews</h2></div>
            <div><button type="button" class="btn btn-info">write a feedback</button></div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="card-header form-inline justify-content-between my-0 py-1">
                <h5><i class="fa fa-cart-plus fa-success"></i>&nbsp;&nbsp;Igor Lukyanenko</h5>
                <h6>14 December 2020 <i class="fa fa-link"></i>&nbsp;&nbsp;<i class="fa fa-question"></i></h6>
            </div>
            <div class="card-body">
                <p class="card-text">Seller: <span class="">Rozetka</span></p>
                <p class=""><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                <p class="card-text">They could not stand the way home, after 100 meters the first spike fell off, picked it up, alerted! Began to walk more accurately for about half the way on one ice shoe, everyone flew off, I came home with only three spikes on one ice shoe, so I do not recommend throwing money away. After ordering they are no longer available - grind))</p>
                <h5 class="card-title">Advantages:</h5>
                <p class="card-text">Rubber stretches well</p>
                <h5 class="card-title">Disadvantages:</h5>
                <p class="card-text">Thorns don't hold at all</p>

            </div>
            <div class="card-footer form-inline justify-content-between py-0 my-0">
                <div>
                    <p><a href="#"><i class="fa fa-reply"></i>&nbsp;Replay</a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-commenting"></i>&nbsp;1 answer</a></p>
                </div>
                <div>
                    <p><a href="#"><i class="fa fa-thumbs-up">2</i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-thumbs-down">One</i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="mt-4">Products viewed</h2>
<div class="row my-1">
    
    <div class="col-md-2 mx-0 px-0">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-md-2 mx-0 px-0">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p>
                <p>90₴</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
            </div>
        </div>
    </div>

    <div class="col-md-2 mx-0 px-0 clearfix d-none d-md-block">
        <div class="card mb-0">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <p class="card-text"><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star rating-up"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>&nbsp;4 reviews</p><p>90 ₴</p>
            </div>
        </div>
    </div>
</div>
