.bg-red {
    background-color: rgb(201, 15, 15) !important;
    // border-radius: 7px;
    box-shadow: 0 4px 15px 2px rgba(107, 26, 26, 0.897);
    
}
.first-nav {
    border-bottom: 1px solid #d8111170 !important;
}

.menu-size {
    font-size: 14px;
    font-weight: bold;
    flex-wrap: nowrap;
}

.vl {
    position: relative;
    border-left: 2px solid green;
    height: 46%;
  }

.dropdown:hover>.dropdown-menu {
    display: block;
}

.lang {
    display: flex;
}

.dropdown-toggle:after {
    content: none !important;
}

/* ============ only desktop view ============ */
@media all and (min-width: 991.98px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

@media (max-width:991.98px){
    .navbar-brand {
        display: none !important;
    }
    .nav-left {
        margin-left: auto !important;
    }
    .nav-right {
        margin-left: auto !important
    }
    .nav-auto {
        margin-left: auto !important;
    }
}
.cartmodal {
    height: 700px;
    max-height: 700px;
    overflow-y: scroll;
}
.cartmodal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cartmodal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn-city:active, 
 .btn-city:focus {
     border:1px solid #00c; /* here configure as your needs */
     color:#00c;
}

.input-border {
    border: 1px solid black;
}

.input-append-color {
    background-color: rgb(212, 31, 31);
}
.input-background {
    background-color: #151515;
}
.font-white {
    color: white !important;
}

.nav-left {
    margin-left: 14%;
}

.nav-right {
    margin-right: 14%;
}