<nav class="navbar navbar-expand-lg navbar-dark bg-red flex-column p-0 mb-0">
    
    <div class="container-fluid first-nav">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="nav navbar-nav menu-size nav-left">
                <!-- <li class="nav-item mx-3">
                    <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#phonenumber"><i class="fa fa-phone"></i>+7123456789</a>
                </li> -->
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="resource" routerLinkActive = "active">Contacts</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" routerLink="help" routerLinkActive="active">Help</a>
                </li>
            </ul>
            <ul class="nav navbar-nav menu-size ml-auto nav-right">
                <!-- <li class="nav-item mx-3">
                    <a class="nav-link" href="#">Our COVID-19 response</a>
                </li> -->

                <!-- <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Language</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Ru</a></li>
                        <li><a class="dropdown-item" href="#">UA</a></li>

                    </ul>
                </li> -->

                <li class="nav-item ml-3 mr-2">
                    <a class="nav-link px-0" href="#">Ru&nbsp;&nbsp;</a> 
                </li>
                <li class="nav-item mr-3 ml-2">
                    <a class="nav-link px-0" href="#">/&nbsp;&nbsp;&nbsp;&nbsp;UA</a> 
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="javascript:void(0)" data-toggle="modal" data-target="#citymodal">City:{{city}}</a>
                </li>
                <li class="nav-item mx-3">
                    <button type="button" class="nav-link btn btn-default" data-toggle="modal"
                        data-target="#loginModal"><i class="fa fa-user"></i>&nbsp;&nbsp;Login</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid nav-auto">
        <button type="button" id="sidebarCollapse" class="btn btn-danger btn-sm">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        
        <ul  class="nav navbar-nav">
            <a href="#" class="navbar-brand">
                <img class="ml-5 mt-1" src="../../../assets/img/logo/logo.png"  alt="CoolBrand" width="90%">
            </a>
        </ul>
        
        <!-- <button type="button" class="btn btn-outline-light ml-5"><i class="fa fa-list lg"></i>&nbsp;&nbsp;Catalog</button> -->
        <form class="inline mt-1 mx-5" style="width:50%; margin-left: 12% !important;">
            <div class="input-group">
                <input type="text" class="form-control input-background input-border" placeholder="I am searching..." id="search" name="search">
                <div class="input-group-append ">
                    <span class="input-group-text input-append-color input-border"><i class="fa fa-search font-white"></i></span>
                </div>
            </div>
        </form>
        
        <button class="btn btn-success d-inline-block d-lg-none ml-auto btn-sm" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mx-0 menu-size">
                <!-- <li class="nav-item dropdown mr-2">
                    <a class="nav-link  dropdown-toggle" routerLink="premium" data-toggle="dropdown" >Try&nbsp;<span class="badge badge-success">Premium</span></a>
                    <ul class="dropdown-menu dropdown-menu-right fade-down" style="width: 350px;">
                        <div class="row">
                            <div class="col-3 text-center my-auto">
                                <i class="fa fa-truck" style="font-size: 50px;"></i>
                            </div>
                            <div class="col-9">
                                <li><a class="dropdown-item" href="#"> Rozetka Premium </a></li>
                                <li><a class="dropdown-item" href="#"> Free shipping all years</a></li>
                                <li><a class="btn btn-success ml-4" routerLink = "premium">To learn more...</a></li>
                            </div>
                        </div>
                    </ul>
                </li>  -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link  dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" data-toggle="modal" data-target="#comparison"><i class="font-weight-bold fa fa-balance-scale fa-lg"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right fade-down" style="width: 600px;">
                        
                        <li><a class="dropdown-item" href="#"> Some text... </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"><i class="font-weight-bold fa fa-heart-o fa-lg"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right fade-down" style="width: 600px;">
                        <div class="row">
                            <div class="col-3 text-center my-auto">
                                <i class="fa fa-heart-o" style="font-size: 60px;"></i>
                            </div>
                            <div class="col-9">
                                <h6 class="font-weight-bold">Wishlist is empty</h6>
                                <small>Add items to your wishlist, share lists with friends, and discuss items together.</small>      
                                <small>If you already have wishlists,  <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#loginModal">Login...</button></small>
                            </div>
                        </div>
                    </ul>
                </li>
                
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link  dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" data-toggle="modal" data-target="#cartmodal"><i class="font-weight-bold fa fa-cart-plus fa-lg"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right fade-down" style="width: 600px;">
                        <div class="row">
                            <div class="col-3 my-auto text-center">
                                <i class="fa fa-cart-plus" style="font-size: 60px;"></i>
                            </div>
                            <div class="col-9">
                                <h5 class="font-weight-bold">your basket is empty</h5>
                                <small>Add the items you like to the cart</small>
                            </div>
                        </div>
                    </ul>
                </li>
            
            </ul>
        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade mt-5" id="loginModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title font-weight-blod">Enterance</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body row">
                <div class="col-7">
                    <form class="" name="login" id="login" *ngIf="login">
                        <div class="form-group">
                            <label class="control-label" for="email">Email or phone:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group form-inline justify-content-between px-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                                <label class="custom-control-label" for="remember">Remember this</label>
                            </div>
                            <div class="px-0">
                                <button type="button" class="btn btn-default">Forgot password</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-success">To come in</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-default" (click) = "toregister()">Register Now</button>
                        </div>
                    </form>
                    <form name="register" *ngIf="register">
                        <div class="form-group">
                            <label class="control-label" for="surename">Surename</label>
                            <input type="text" class="form-control" id="surname" name="surename">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email or phone</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Pick a password</label>
                            <div class="input-group mb-3" id="password">
                                <input type="text" class="form-control" placeholder="">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="button"><i class="fa fa-eye"></i></button>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>The password must be at least 6 characters long, contain numbers and Latin letters, including capital letters, and must not coincide with the name and email. by mail

                                By registering, you agree to the user agreement</p>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-success">Register now</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-default"  (click) = "tologin()">I am ready registered</button>
                        </div>
                    </form>
                </div>
                <div class="col-1">
                    <div class="vl"></div>or<div class="vl"></div>
                </div>
                <div class="col-4 text-center mx-auto">
                    <form name="asGoogle" class="">
                        <div class="form-group">
                            <label class="control-label">Login as user</label><br>
                            <button type="button" class="btn btn-info btn-block"><i class="fa fa-facebook"></i>&nbsp;Facebook</button><br>
                            <button type="button" class="btn btn-info btn-block"><i class="fa fa-google">&nbsp;Google</i></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-------cart Modal -------->
<div class="modal fade mt-5" id="cartmodal">
    <div class="modal-dialog modal-lg cartmodal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Basket</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img src="../../../assets/img/modal-cart-dummy.svg">
                <h5>Cart is empty</h5>
                <p>But it's never too late to fix it :)</p>
                <hr>
                <h5 class="text-left font-weight-bold">Products viewed</h5>
                <!------products viewed------->

            </div>
        </div>
    </div>
</div>

<!--------Comparison List---------->
<div class="modal fade mt-5" id="comparison">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comparison</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <img class="my-4" src="../../../assets/img/comparison-modal-dummy.svg">
                <h4>No products in comparison</h4>
                <p class="mx-4 mb-5">Add products to feature comparison and choose the product that suits you best</p>
            </div>
        </div>
    </div>
</div>

<!---------Contact phone numbers---------->
<div class="modal fade mt-5" id="phonenumber">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact phone numbers</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Consultations and ordering by phone:</h5>
                        <p class="my-3">+38 044 537-02-22</p>
                        <p class="my-3">+38 044 503-80-80</p>
                        <h5>Other sellers:</h5>
                        <p class="my-3">+38 044 502-10-79</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-12">
                        <h5>Call center opening hours:</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="my-2">On weekdays:</p>
                        <p class="my-2">Saturday:</p>
                        <p class="my-2">Sunday:</p>
                    </div>
                    <div class="col-6">
                        <p class="my-2">from 08:00 to 21:00</p>
                        <p class="my-2">from 09:00 to 20:00</p>
                        <p class="my-2">from 10:00 to 19:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------Choose your city-------->
<div class="modal fade mt-5" id="citymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose your city</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold"><i class="fa fa-truck"></i> &nbsp;&nbsp;We deliver orders all over Ukraine!</p>
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-city mb-3">Kiev</button>
                        <button type="button" class="btn btn-city">Kharkiv</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-city mb-3">Odessa</button><br>
                        <button type="button" class="btn btn-city">Zaporizhzhia</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-city mb-2">Dnieper</button><br>
                        <button type="button" class="btn btn-city">Lviv</button>
                    </div> 
                </div>
                <div class="row mt-4">
                    <div class="col-12 mx-auto">
                        
                        <form name="city">
                            <div class="form-group">
                                <label class="control-label" for="cityname">Enter the locality of Ukraine.</label>
                                <input type="text" class="form-control" name="city" placeholder="enter city name...">
                            </div>
                        </form>
                        <p>For example, <a href="javascript:void(0)">Kotyuzhins</a></p>
                    </div>
                </div>
                <div class="row mt-4 justify-content-between flex">
                    <div class="ml-3">
                        <button type="button" class="btn btn-secondary">Go to home page</button>
                    </div>
                    <div class="mr-3">
                        <button type="button" class="btn btn-success">Apply</button>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <p class="mt-3">The choice of the city will help to provide up-to-date information on the availability of goods, their prices and delivery methods in your city! This will help save more free time for you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>