
.sidebar-top {
    margin-top: 0;
    width: 300px;
    box-shadow: 0 0 3px 2px #151515;
}
@media (max-width: 991.98px) {
    .sidebar-top {
        margin-top: 0 !important;
    }
    .caret-right {
        display: none;
    }
}
.caret-top{
    position: absolute;
    display: none;
    z-index: 2220;
    top: 73px;
    left: 350px;
}
.caret-top::after{  
    content: "";
    margin-left: -5px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent lightgray transparent;
}

.sidebar-modal{
    display: none;
    width: 400px;
    height: 840px;
    background: white;
    position: absolute;
    left: 301px;
    top: 105px;
    z-index: 1010;
    border:1px solid #151515;
}