<nav id="sidebar">
    <div class="p-4 sidebar-top pt-1">
        <!-- <a href="#" class="img logo mb-5" style="background-image: url(../../../assets/img/logo/logo.png);"></a> -->
        <h2 class="text-dark"><i class="fa fa-list"></i>&nbsp;&nbsp;All Catgory</h2>
        <ul class="list-unstyled components mb-5">
            <li class="form-inline justify-content-between" *ngFor = "let category of catgories">                
                <a class="" href="javascript:void(0)" data-toggle="modal" data-target="#totalsidebar">{{category.name}}</a>
                <i class="fa fa-caret-right"></i>
            </li>
        </ul>

        <div class="card">
            <div class="card-body text-center">
                <h3>Welcome!</h3>
                <p class="text-dark">Sign in to receive recommendations, personalized bonuses and discounts.</p>
                <button type="button" class="btn btn-success btn-block">Log in to your account</button>
            </div>
        </div>

        
        <div class="mt-5">
            
            <h5 class="font-weight-bold text-dark">Install our apps</h5>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-success"><i class="fa fa-play"></i>Google Play</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success"><i class="fa fa-apple"></i>App Store</button>
        </div>

        
        <div class="mt-5">
            <h5 class="font-weight-bold text-dark">Call center opening hours</h5>
            <div class="dropdown-divider"></div>
            <p><a href="">+tel: +38 (044) 537-02-22</a></p>
            <p><a href="">+tel: +38 (044) 503-80-80</a></p>
            <div class="row">
                <div class="col-5">On weekdays</div>
                <div class="col-7">from 08:00 to 21:00</div>
            </div>
            <div class="row">
                <div class="col-5">Saturday</div>
                <div class="col-7">from 09:00 to 20:00</div>
            </div>
            <div class="row">
                <div class="col-5">Sunday</div>
                <div class="col-7">from 10:00 to 19:00</div>
            </div>
        </div>

        
        <div class="mt-5">
            <h5 class="font-weight-bold text-dark">We are in social networks.</h5>
            <div class="dropdown-divider"></div>
            <div class="text-center mx-2 my-3">
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/facebook (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/header.jpg"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/instagram (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/twitter (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/viber.png"></a>
            </div>
        </div>

        
        <div class="mt-5">
            <h5 class="font-weight-bold text-dark">Help</h5>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled mb-4">
                <li><a href="#">Shipping and payment</a></li>
                <li><a href="#">Credit</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Purchase returns</a></li>
                <li><a href="#">Service centres</a></li>
                <li><a href="#">Track your order</a></li>
            </ul>
        </div>

        
        <div class="mt-5">
            <h6 class="font-weight-bold text-dark">Information about compnay</h6>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Site terms of use</a></li>
                <li><a href="">Vacancies</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>

        
        <div class="mt-5">
            <h5 class="font-weight-bold text-dark">Services</h5>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
                <li><a href="#">Bonus account</a></li>
                <li><a href="#">Rozetka Premium</a></li>
                <li><a href="#">Gift certificate</a></li>
                <li><a href="#">Transferring money from card to card</a></li>
                <li><a href="#">Turs and Leisure</a></li>
            </ul>
        </div>

        
        <div class="mt-5">
            <h5 class="font-weight-bold text-dark">For partners</h5>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
                <li><a href="#">Sell on the Rosette</a></li>
                <li><a href="#">Cooperation with us</a></li>
                <li><a href="#">Logo and style guide</a></li>
            </ul>
        </div>

        <!-- <div class="dropdown-divider"></div>     -->
        <div class="mt-5 text-center">
            
            <button type="button" class="btn btn-default mr-3"><img src="../../../assets/img/mastercard-logo.svg"></button>
            <button type="button" class="btn btn-default"><img src="../../../assets/img/visa-logo.svg"></button>
        </div>

        <div class="mt-3">
            <div class="dropdown-divider"></div>
            <div class="footer bg-dark">
                <p class="text-white p-4"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Aleksander</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>

    </div>
    <div class="sidebar-modal">
    </div>
    <!-- <div class="caret-top"></div> -->
</nav>