<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled nav-side">
                <li><a class="btn btn-default" routerLink="answers" routerLinkActive="active">Questions and answers</a></li>
                <li><a class="btn btn-default" routerLink="credit" routerLinkActive="active">Credit</a></li>
                <li><a class="btn btn-default" routerLink="payment" routerLinkActive="active">Shipping and payment</a></li>
                <li><a class="btn btn-default" routerLink="warranty" routerLinkActive="active">Warranty</a></li>
                <li><a class="btn btn-default" routerLink="contact" routerLinkActive="active">Contacts</a></li>
                <li><a class="btn btn-default" routerLink="about" routerLinkActive="active">About us</a></li>
                <li><a class="btn btn-default" routerLink="cooperation" routerLinkActive="active">Cooperation with us</a></li>
                <li><a class="btn btn-default" routerLink="vacanies" routerLinkActive="active">Vacanies</a></li>
                <li><a class="btn btn-default" routerLink="serviceCentres" routerLinkActive="active">Service centres</a></li>
                <li><a class="btn btn-default" routerLink="gift" routerLinkActive="active">Gift certificates</a></li>
                <li><a class="btn btn-default" routerLink="siteTerms" routerLinkActive="active">Site terms of Use</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
