<h2>Contacts</h2>
<h4 class="mt-4">Consultations and order by phone</h4>
<hr>
<div class="row">
    <div class="col-4">
        <h6 class="mb-4">Rozetka</h6>
        <h5 class="my-2"><a href="javascript: void(0)">044 537 02 22</a></h5>
        <h5 class="my-2"><a href="javascript: void(0)">044 503 80 80</a></h5>
        <p class="holiday my-0">Opening hours of shops for the New Year holidays:</p>
        <p class="my-0">31.12 from 10:00 to 18:00</p>
        <p class="my-0">01.01 day off</p>
        <p class="my-0">06.01 from 10:00 to 18:00</p>
        <p class="my-0">07.01 day off</p>
    </div>
    <div class="col-4">
        <h6 class="mb-4">Shedule</h6>
        <div class="row my-2">
            <div class="col-6">On weekdays</div>
            <div class="col-6">from 08:00 to 21:00</div>
        </div>
        <div class="row my-2">
            <div class="col-6">Saturday</div>
            <div class="col-6">form 09:00 to 20:00</div>
        </div>
        <div class="row  my-2">
            <div class="col-6">Sunday</div>
            <div class="col-6">from 10:00 to 19:00</div>
        </div>
        <div class="row my-2">
            <div class="col-6">12/25/20</div>
            <div class="col-6">from 08:00 to 20:00</div>
        </div>
    </div>
    <div class="col-4">
        <div class="row" style="background-color: rgba(0, 255, 55, 0.486);">
            <div class="col-8"><h5 class="my-3"><i class="fa fa-question success"></i>&nbsp;&nbsp;Help Center</h5></div>
            <div class="col-4 text-rigth"><button type="button" class="btn btn-success my-3">Go to</button></div>
        </div>
        
        
    </div>
</div>

<h4 class="mt-4">Service department</h4>
<hr>
<div class="row">
    <div class="col-4">
        <h5><a href="javascript:void(0)">044 364 83 65</a></h5>
    </div>
    <div class="col-4">
        <h5>Schedule</h5>
        <div class="row my-2">
            <div class="col-6">On weekdays</div>
            <div class="col-6">from 10:00 to 21:00</div>
        </div>
        <div class="row my-2">
            <div class="col-6">Saturday</div>
            <div class="col-6">from 10:00 to 21:00</div>
        </div>
        <div class="row my-2">
            <div class="col-6">Sunday</div>
            <div class="col-6">from 10:00 to 21:00</div>
        </div>
    </div>
</div>
<h4 class="mt-4">Experts in touch</h4>
<hr>
<div class="row">
    <div class="col-4">
        <h5><a href="javascript:void(0)">044 502 31 07</a></h5>
        <p>Large household appliances, built-in appliances, climatic appliances, vacuum cleaners</p>
        <p>Working hours: On weekdays from 9:00 to 18:00</p>
    </div>
    <div class="col-4">
        <h5><a href="javascript:void(0)">044 502 47 670</a></h5>
        <p>Smartphones, tablet, wearable gadgets</p>
        <p>Working hours: On weekdays from 09:00 to 18:00</p>
    </div>
    <div class="col-4">
        <h5><a href="044 502 78 40">044 502 78 40</a></h5>
        <p>Plumbing and plumbing products</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h5><a href="javascript: void(0)">044 502 99 32</a></h5>
        <p>Garden equipment, inventory, irrigation systems, equipment and tools</p>
        <p>Working hours: On weekdays from 09:00 to 18.00</p>
    </div>
    <div class="col-4">
        <h5><a href="javascript: void(0)">044 502 43 76</a></h5>
        <p>TV sets</p>
        <p>Working hours: On weekdays from 9.00 to 18:00</p>
    </div>
</div>

<h4 class="mt-4">Pickup and return points</h4>
<hr>
<div class="row">
    <div class="col-12">
        <p>You can return the goods at service departments or at points of receipt of returns.</p>
        <p>Return points do not have service technicians. The final decision on the return of the goods will be made after inspection of the goods by a service specialist.</p>
        <p><a href="javascript:void(0)">ROZETKA dispensing points operating mode in quarantine conditions</a></p>
    </div>
</div>
<div class="row">
    
    <!-- <div class="col-3">
        <input type="text" class="form-control" placeholder="Choose your city">
        <p class="mt-3">Unfortunately, there are no pick-up points in the selected city.</p>
    </div> -->
    <div class="col-12">
        <!-- app.component.html -->
        <div class="form-group">
            <label>Enter address</label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
    
        <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map> -->
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    
        <h5 class="mt-3">Address: {{address}}</h5>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
    </div>
    <hr>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink] = "['city1']" routerLinkActive>City 1</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink] = "['city2']" routerLinkActive>City 2</a>
                </li>
                
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink] = "['city3']" routerLinkActive>City 3</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink] = "['city4']" routerLinkActive>City 4</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink] = "['city5']" routerLinkActive>City 5</a>
                </li>
            </ul>
            
        </div>
    </nav>
</div>
