.main-top {
    margin-top: 120px;
}

@media (max-width: 991.98px) {
    .main-top {
        margin-top: 70px !important;
    }
}

.top-scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 9999 !important;
    width: 50px;
    height: 50px;
}