<div class="wrapper align-items-stretch">
    <div #target></div>
    <app-navbar></app-navbar>
    <!-- Page Content  -->
    <div id="content" class="d-flex">
        <div class="pr-2">
            <app-sidebar *ngIf="removeSideNavbar()"></app-sidebar>
        </div>
        <div class="mt-4 px-3" id="top-section">
            <app-carousel class="mt-0 pt-0" *ngIf="removeCarousel()"></app-carousel>
            
            <router-outlet></router-outlet>
            
        </div>
        <button class="btn btn-success rounded-circle top-scroll" (click)="scrollToElement(target)"><i class="fa fa-arrow-up fa-lg"></i></button>
    </div>
    
    <app-footer *ngIf="removeFooter()"></app-footer>
    
</div>