.play {
    position: fixed;
    top: 50%;
    left: 50%;
}
.card:hover{
    border: 1px solid rgba(255, 0, 0, 0.582);
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.4s;
    z-index: 1000;
}
.price {
    position: absolute;
    bottom: 20px;
}
.discount-price {
    color: #151515;
    font-size: medium;
    font-weight: 500;
    line-height: 0.8;
    
}
.undiscount-price {
    color: black;
    font-size: larger;
    font-weight: 600;

}
.current-price {
    color:  red;
    font-size: larger;
    font-weight: 600;
    line-height: 0.8;
}

del {
    color: darkgrey;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

// .card-body {
//     width: 100%;
//     height:  50vh;
//     object-fit: contain;
// }

.video-card {
    background-color: rgba(36, 33, 33, 1);
}