<h2 class="mt-5">Bestsellers in Category Gaming Chairs</h2>
<hr>
<div class="row my-3 mx-1">
    <div class="col-lg-2 col-md-3 mx-0 px-0" (click) = "gotoProductDetail('/product', 1)">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/bestseller/hator_htc_911_images_15985791739.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.</p>
                <div class="price mt-5"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4" src="../../../assets/img/product/bestseller/253900046_images_20223180791.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <div class="price mt-4"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/bestseller/lefard_358_968_images_21041531871.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/bestseller/mirson_2200000046642_images_19660146991.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <p class="card-text price undiscount-price">4000 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/bestseller/pecham_navy_blue_travel_images_21111719856.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                    <p class="card-text price undiscount-price">4777 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top" src="../../../assets/img/product/bestseller/smereka_yazh035_images_7759606686.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="mt-5">Only in the Outlet</h2>
<hr>
<div class="row my-3 mx-1">
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/outlet/elleci_unico125_68_images_11291067960.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.</p>
                <div class="price mt-5"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4" src="../../../assets/img/product/outlet/elleci_unico125_73_images_11291078940.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <div class="price mt-4"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/outlet/elleci_unico125_79_images_11291060232.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/outlet/enthermeal_d3znc060em085_images_20780307081.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <p class="card-text price undiscount-price">4000 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/outlet/hator_htc_911_images_15985791739.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                    <p class="card-text price undiscount-price">4777 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top" src="../../../assets/img/product/outlet/hator_htc_912_images_15985844022.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>

</div>

<h2 class="mt-5">Now in demand in the category Ice drifts</h2>
<hr>
<div class="row my-3 mx-1">
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/Recommend/228979933_images_18923106997.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.</p>
                <div class="price mt-5"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4" src="../../../assets/img/product/Recommend/artline_x35v14_images_9213247785.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <div class="price mt-4"><br>
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/Recommend/hator_hts_125_images_17455489969.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/Recommend/liquid_leather_t459567_1_black_images_1442123998.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <p class="card-text price undiscount-price">4000 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top p-4"
                src="../../../assets/img/product/Recommend/liquid_leather_t459567_1_white_50ml_images_8996929065.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                    <p class="card-text price undiscount-price">4777 ₴</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 mx-0 px-0">
        <div class="card h-100">
            <img class="card-img-top" src="../../../assets/img/product/Recommend/liquid_leather_t459567_images_229175332.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Product title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content.</p><br>
                <div class="price mt-4">
                    <p class="card-text discount-price"><small class="text-muted"><del>4999 ₴</del></small></p>
                    <p class="card-text current-price">4199 ₴</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <h2 class="col-6">New videos on the ROZETKA channel</h2>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-play"></i>Youtube<span
                class="badge badge-primary">1 M</span></button>

    </div>
</div>
<hr>
<div class="row my-3 mx-1">
    <div class="col-lg-3 col-md-3 col-sm-4 mx-0 px-0">
        <div class="card h-100 video-card">
            <img class="card-img-top p-4" src="../../../assets/img/product/Recommend/228979933_images_18923106997.png">
            <!-- <div class="play"><i class="fa fa-play"></i></div> -->
            <hr>
            <p class="card-text my-4 px-3">Apple's electric car and the success of the mobile Ryzen 5 5600H | BIG NEWS #
                81</p>
            <p class="card-text my-3 px-3">December 25, 2020</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mx-0 px-0">
        <div class="card h-100 video-card">
            <img class="card-img-top p-4" src="../../../assets/img/product/Recommend/228979933_images_18923106997.png">
            <hr>
            <p class="card-text my-4 px-3">Apple's electric car and the success of the mobile Ryzen 5 5600H | BIG NEWS #
                81</p>
            <p class="card-text my-3 px-3">December 25, 2020</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mx-0 px-0">
        <div class="card h-100 video-card">
            <img class="card-img-top p-4" src="../../../assets/img/product/Recommend/228979933_images_18923106997.png">
            <hr>
            <p class="card-text my-4 px-3">Apple's electric car and the success of the mobile Ryzen 5 5600H | BIG NEWS #
                81</p>
            <p class="card-text my-3 px-3">December 25, 2020</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4 mx-0 px-0">
        <div class="card h-100 video-card">
            <img class="card-img-top p-4" src="../../../assets/img/product/Recommend/228979933_images_18923106997.png">
            <hr>
            <p class="card-text my-4 px-3">Apple's electric car and the success of the mobile Ryzen 5 5600H | BIG NEWS #
                81</p>
            <p class="card-text my-3 px-3">December 25, 2020</p>
        </div>
    </div>
</div>