<nav class="navbar navbar-expand-sm bg-primary justify-content-between">
    <ul class="navbar-nav">
        <li class="navbar-brand ml-5">
            <img class="footer-img" src="../../../assets/img/footer/apps_deco.png">
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link footer-text py-0 my-0">Download our mobile app</a>
        </li>

    </ul>
    <form class="form-inline">
        <button type="button" class="btn btn-secondary"><i class="fa fa-google fa-lg"></i>&nbsp;&nbsp;Google
            Play</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-secondary"><i class="fa fa-apple fa-lg"></i>&nbsp;&nbsp;App Store</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="text-center col-md-2 offset-1">
            <h6><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Call center opening hours</h6>
            <div class="my-3">
                <a href="#"><img class="social-img mx-2" width="30px"
                        src="../../../assets/img/social/facebook (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/header.jpg"></a>
                <a href="#"><img class="social-img mx-2" width="30px"
                        src="../../../assets/img/social/instagram (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px"
                        src="../../../assets/img/social/twitter (1).png"></a>
                <a href="#"><img class="social-img mx-2" width="30px" src="../../../assets/img/social/viber.png"></a>
            </div>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>Help</li>
                <li><a href="#">Shipping and payment</a></li>
                <li><a href="#">Credit</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Purchase returns</a></li>
                <li><a href="#">Service centres</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>Information about the company</li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Site terms of Use</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Vacancies</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>Service</li>
                <li><a href="#">Rozetka premium</a></li>
                <li><a href="#">Transferring money from card to card</a></li>
                <li><a href="#">Gift certificate</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled">
                <li>For partners</li>
                <li><a href="#">Sell of Rosette</a></li>
                <li><a href="#">Cooperation with us</a></li>
                <li><a href="#">Styleguide and logo</a></li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-sm justify-content-between mb-0">
    <ul class="navbar-nav">
        <li class="nav-item mx-4">
            <a class="nav-link" href="#"><img src="../../../assets/img/mastercard-logo.svg"></a>

        </li>
        <li class="nav-item mx-4">
            <a class="nav-link" href="#"><img src="../../../assets/img/visa-logo.svg"></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link">
                © Internet store "Rosette ™"2001–2021  TM is used under the license of the copyright holder RozetkaLTD
            </a>
        </li>
    </ul>
</nav>